@namespace html url(http://www.w3.org/1999/xhtml);
@namespace xul url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
/*
	this are the colors that the firefox theme will use with the chromelike theme
*/

:root {
    /* TAB VARIABLES */
    --bg-light: #121212; --bg-dark: #202020;
    --fg-light: #FFFFFF; --fg-dark: #AAABAD;
    --tab-active: #6f809f; --tab-inactive: #424c5e;
    --tab-triangle-correction: -1px;
    --tab-height: 25px; --tab-icon-size: 16px; --tab-strip-margin: -12px; --tab-overlap: -5px;
    --tab-fonts: "terminess powerline","Source Sans Pro","Lemon",monospace,"Dejavu Sans"; --tab-font-size: 12px;
    --tab-text-align: center; /* left | center | right */
    --tab-triangle: none;  /* block | none */

    /* URL VARIABLES */
    --url-background: var(--bg-light); --url-color: var(--fg-dark);
    --url-height: 28px; --url-right-margin: 6px !important;
    --url-fonts: "terminess powerline", "Source Sans Pro", "Lemon",monospace,"Dejavu Sans"; --url-font-size: 12px;
    --url-text-align: center; /* left | center | right */
    --url-position: absolute; /* absolute == top (under tabs) || fixed == bottom of browser */
}
